body,html{
    background: #5b927c;
    color: antiquewhite;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}

nav ul li a{
    text-decoration: currentColor;
    padding: 10px;
    color: rgb(155, 191, 233);
}

nav ul li a:hover{
    color: #fff;
    background: rgb(16, 43, 37);
    border-style: groove;
    border-radius: 50px;
}

h1{
    text-align: center;
}

input{
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
}

label{
    color: rgb(41, 41, 70);
    vertical-align: text-bottom;
}

button{
    background: #555;
    color: #fff;
    padding: 10px 30px;
}

#productosList {
    padding: 0;
}

#productosList li{
    list-style: none;
    padding: 40px;
    background: rgb(38, 60, 73);
    border: 1 solid #eee;
    margin-bottom: 10px;
}

#productosList li span{
    display: inline-block;
}

#productosList li span img{
    max-width: 200px;
    margin-right: 40px;
}